RealTimeproject/dataweave-demo/src/main/mule/Json-All-Types-Trans.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Json-to-java" doc:id="180d46ef-658b-4e24-bcc8-68a54e53ffe6" >
		<ee:transform doc:name="Transform Message" doc:id="4c6ffa15-958b-4ea7-8443-1fdbff6035ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	empID: payload.empID,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Json-to-xml" doc:id="7b01346f-2c0a-4cde-a454-5ed4f8b18281" >
		<ee:transform doc:name="Transform Message" doc:id="740ba274-ebf1-4270-a931-bd74482cbeb3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
emp:{
	empID: payload.empID,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Json-to-csv" doc:id="cce11c01-5d02-43ac-84f9-96af7c0fbbe1" >
		<ee:transform doc:name="Transform Message" doc:id="888ee88e-4710-486c-a2b8-f0407e8f0397" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
{
	empID: payload.empID,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
