RealTimeproject/dataweave-demo/src/main/mule/userdefined_functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2322fe28-6ef9-4db9-84c1-732e567174a9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="556f854b-89f1-4340-8924-46f0f3915a6c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mulesoft" />
	</db:config>
	<flow name="userdefined_functionsFlow" doc:id="00cf0ab3-6f0c-4acd-9910-f24004e715da" >
		<http:listener doc:name="Listener" doc:id="fa3f25a4-3f75-49ed-ada8-5dd1d32ef907" config-ref="HTTP_Listener_config" path="gratuity-eligibility" allowedMethods="GET"/>
		<db:select doc:name="Select From By ID" doc:id="b70eff7e-6f0b-40ee-a1fb-f055e8d8ed01" config-ref="Database_Config">
			<db:sql ><![CDATA[select emp_id, emp_name, emp_address, emp_join_date from mulesoft.emp_master where emp_id=:emp_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	emp_id:attributes.queryParams.empID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9da49756-f706-423a-b3fe-acc1bc3f6571" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var test = "This is a Test"
fun empExperience(joinDate) = daysBetween(payload[0].emp_join_date as LocalDateTime {format:"yyyy-MM-dd HH:mm:ss"}, now() as LocalDateTime {format:"yyyy-MM-dd HH:mm:ss"}) /365
---
if(sizeOf(payload)>0)
{
	"empID": payload[0].emp_id,
	"empName":payload[0].emp_name,
	"empJoinDate": payload[0].emp_join_date,
	"empExperience": empExperience(payload[0].emp_join_date),
	"gratuity": if(empExperience(payload[0].emp_join_date)>5) "eligible" else "not-eligible",
	("test" : test) if(test != null)
} else {
	"message":"Employee not found"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
