RealTimeproject/dataweave-demo/src/main/mule/Xml-to-All-Types.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Xml-to-All-TypesFlow" doc:id="6e9be6b3-07c3-45a5-a275-5dbb8105a9e5" >
		<ee:transform doc:name="Transform XML to Json attribute" doc:id="7ebd8d8d-ec16-4ec4-8eca-141816d9ead7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price,
		properties: {
			title: payload.book.title,
			author: payload.book.author,
			year: payload.book.year
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Xml-to-All-TypesFlow1" doc:id="0a13492b-708c-4de8-973c-114165cf6fce" >
		<ee:transform doc:name="Transform Attribute based Json to XML" doc:id="f63d413f-4ecc-46cf-8515-8d4c4ae21f23" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.language): payload.item.properties.title,
		year: payload.item.properties.year,
		price: payload.item.price,
		author @(loc: null): payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Xml-to-All-TypesFlow2" doc:id="35471b3e-bcc1-40f7-9e2e-0146fa93d818" >
		<ee:transform doc:name="Transform Attribute based  JSON to CSV" doc:id="75139ba0-fa3e-42cf-9134-b9f9ce726e13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0, header = true 
---
[{
	empID: payload.empID as String,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Xml-to-All-TypesFlow3" doc:id="f874889d-f73e-4381-b59a-a4afba45622b" >
		<ee:transform doc:name="Transform XSLX to XML" doc:id="011c362b-5b7f-4237-8e7d-df847627f302" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	employee: {
		empID: payload.empdata.empID default 0,
		empName: payload.empdata.empName default "",
		empEmail: payload.empdata.empEmail default "",
		empStatus: payload.empdata.empStatus default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
