RealTimeproject/fastgo-externalsystem/src/main/mule/global/fastgo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-externalsystemFlow" doc:id="4a832313-cd95-466b-8ca6-c1111e0447c6" >
		<http:listener doc:name="getServiceType" doc:id="213013a4-3a19-46e2-bb58-17fc07103e3d" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="4d4f39c8-eeb0-4285-a901-9164f68ab698" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="StartLog for Request Received" doc:id="c9867538-246e-4be3-9fdf-201161f197cd" message="Request Received for FastGo External System For TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="f1ef50ac-9350-4967-b0fe-7dbd557e9479" >
			<when expression="#[vars.serviceType == 'routes']">
				<logger level="INFO" doc:name="Routes Flow" doc:id="e3db7e62-b704-498d-885e-7f25bb958873" message="Routes flow called for FastGo External System for TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="FastGo-GetRoutes-ImplementationSub_Flow" doc:id="2b4a47c1-9ca5-41f9-bc11-49fb838d375c" name="FastGo-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression="#[vars.serviceType == 'schedules']">
				<logger level="INFO" doc:name="Schedules Flow" doc:id="3fae058e-c57a-4414-805a-b5b8609337ee" message="Schedules flow called for FastGo External System for TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="FastGo-GetSchedules-ImplementationSub_Flow" doc:id="da29a07a-8c31-4bc6-beb0-dca71759299b" name="FastGo-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="64bf4b20-3e50-4a55-9bec-4838497bb624" message="URI Parameter is Not Correct For  FastGo External System for TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="EndLog of FastGo External System" doc:id="bf35e57e-f344-4d60-a067-5e3490adbbef" message="Response Sent for FastGo External System For TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="bf99de24-64d1-4b4f-9a43-0db450067b31" >
				<logger level="INFO" doc:name="Logger" doc:id="6fe501c4-0229-41fb-b47c-5734db319513" message="Error occured for FastGo External System for TransactionId: #[vars.transactionId]"/>
				<ee:transform doc:name="Transform Message" doc:id="82dae3ec-0290-4443-bd47-4d291eaa5c27" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage":"Error in FastGo External System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
